#[eclipse ignore files]
#eclipse-root
*/.metadata/*
*/.recommenders/*
*/RemoteSystemsTempFiles/*
*/Servers/*

#eclipse-project
*/.classpath
*/.gitignore
*/.project
*/.settings/*


*/.springBeans
*/.springWebflow

